@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600;700&display=swap');

.head {
  display: flex;
  justify-content: center;
  border-bottom: 2px dashed #000;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #666633;
  color: #C0C0C0;
  font-family: 'Ceviche One', cursive !important; 
  font-size: 40px !important;
}

h1 {
  margin-bottom: 15px;
  margin-top: 10px;
}

body {
  background-color: #CCCC99;
}

.Show {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}